
<footer id="footer">

<!---

-->
<nav>
    <ul>
        <li>
            <a href="https://scholar.google.com/citations?user=gqsSE1EAAAAJ&hl=en">
                <img src="/img/google_scholar.svg" />
            </a>
        </li>
      <!---
        <li>
            <a href="https://impactstory.org/u/0000-0003-3209-0517">
                <img src="/img/impactstory.svg" />
            </a>
        </li>
        -->
        <li>
            <a href="https://github.com/lucasnell">
                <img src="/img/github.svg" />
            </a>
        </li>
      <!---
        <li>
            <a href="https://www.twitter.com/LucasANell">
                <img src="/img/twitter.svg" />
            </a>
        </li>
        -->
        <li>
            <div style="font-size: 14pt;">
                
                <div id="hasJavaScript" style="display: none">
                    <!-- Contents hidden when JavaScript is disabled -->
                    <span class="eml">7861777a717878547379757d783a777b79</span>
                </div>
                
                <div id="noscript">
                    [Turn on JavaScript to see email address]
                </div>
                
                <script type="text/javascript">
                    document.getElementById('hasJavaScript').style.display = 'block';
                    document.getElementById('noscript').style.display = 'none';
                </script>

            </div>
        </li>
    </ul>
</nav>
<p>&copy; License MIT.</p>

</footer>

<!---
  <footer id="footer">
    <nav>
      <ul>
        <li><span>Kube</span></li>
        <li>
          <a href="/company/">Company</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
          <li>
          <a href="/docs/">Docs</a>
        </li>
        <li>
          <a href="https://twitter.com/{{.Site.Params.twitter}}">Give a shout-out on Twitter!</a>
        </li>
      </ul>
    </nav>
    <p>&copy; Licence MIT.</p>
  </footer>
-->