{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main"}}
<div id="hero" class="wrap">
    <h1 itemprop="headline">  {{ .Title }} </h1>
    {{ if .Description }}
        <blockquote itemprop="description">{{ .Description }}</blockquote>
    {{ end }}
</div>


<div id="kube-component" class="content">
    
    <div class="resources-page">
        
        {{ if .Content }}
            {{ .Content }}
        {{ end }}

        <h2> Posts </h2>
        <ul>
            {{ range .Data.Pages.ByWeight }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </li>
            {{ end }}
        </ul>
        
    </div>

    
</div>



{{ end }}
{{ define "footer"}} {{ partial "footer.html" .}} {{ end }}
